
tr:hover {
    background-color: #D6EEEE;
}

/*body {*/
/*    text-align: center;*/
/*}*/

.bi-arrow-clockwise {
    display: table-cell;
    height: auto;
    margin-outside: 10;
    padding: 10px;
    background: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    color: mediumblue;
}

.bi-arrow-clockwise:hover {
    background: deepskyblue;
}

.bi-arrow-clockwise:active {
    background: yellowgreen;
}

.bi-trash3-fill {
    display: table-cell;
    height: auto;
    margin-outside: 10;
    padding: 10px;
    background: aliceblue;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    color: red;
}

.bi-trash3-fill:hover {
    background: dodgerblue;
}

.bi-trash3-fill:active {
    background: deepskyblue;
}




